.footer {
    display: flex;
    border-top: 1px solid rgb(156, 152, 152);
    min-height: 10vw;
    align-items: center;
    justify-content: center;
    background-image: url(../images/FooterBackground.jpg);
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.footer__news {
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px rgba(246, 166, 17, 0.716);
    border-radius: 4px;
    border-style: dashed;
    flex-direction: row;
    margin-top: 3vw;
}

.inner {
    display: flex;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 4px;
    height: 40px;
    background-color: white;
}

.footer__news__phoneNumber {
    display: flex;
    border-left: 1px solid rgb(196, 193, 193);
    align-items: center;
}

.footer__news__phoneNumber__input {
    outline: none;
    border: none;
}

.footer__news__email {
    display: flex;
    align-items: center;
    padding-right: 6px;
}

.footer__news__email__input {
    margin-right: 5px;
}

.footer__news__register__button {
    border: none;
    background-color: rgba(71, 242, 24, 0.842);
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
}

.input {
    outline: none;
    border: none;
    direction: rtl;
    width: 29vw;
}

.footer__news__register__button:hover {
    background-color: rgb(255, 133, 2);
}

.footer__contact {
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2vw;
}

.contact {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.privacy__text {
    direction: rtl;
    padding-bottom: 3vh;
    color: white;
    font-size: 1vw;
}

@media(max-width:400px) {

    .privacy__text {
        font-size: 2.3vw;
    }

    .footer__contact__text {
        font-size: 4vw;
        margin-right: 2vw;
    }

    .footer__news__register__button {
        font-size: 3vw;
    }
}

@media(max-width:350px) {
    .footer__contact__text {
        font-size: 2.4vw;
        margin-right: 5vw;
    }
}

@media(min-width:400px) and (max-width:850px) {
    .privacy__text {
        font-size: 2vw;
    }

    .footer__news__register__button {
        font-size: 2.3vw;
    }
}

@media(max-width:600px) {
    .footer__news {
        display: flex;
        direction: rtl;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 2px rgba(246, 166, 17, 0.716);
        border-radius: 4px;
        border-style: dashed;
        flex-direction: row;
        margin-top: 3vw;
    }

    .inner {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        gap: 2.5px;
        height: 15vh;
        border: none;
        background-color: transparent;
        width: 85vw;
    }

    .footer__news__phoneNumber {
        padding-right: 6px;
    }

    .footer__news__email {
        padding-right: 6px;
    }

    .footer__news__register__button {
        border: 2px solid white;
        border-radius: 10px;
        background-color: rgba(71, 242, 24, 0.842);
        height: 5vh;
        font-size: 1rem;
        cursor: pointer;
    }

    .input {
        outline: none;
        border: none;
        direction: rtl;
    }

    .place {
        display: flex;
        align-items: center;
        background-color: white;
        border: 2px solid rgb(4, 33, 100);
        border-radius: 4px;
        height: 4vh;
        width: 95%;
    }
}