* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    background-color: #0e112f;
    position: relative;
}

.main {
    border: 2px solid black;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.main__select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    direction: rtl;
    margin-bottom: 5vh;
    margin-top: 3vh;
}

.box {
    width: 17vw;
    border-radius: 12px;
    height: 30px;
    background-color: white;
}

.text {
    margin-right: 4px;
    margin-bottom: 4px;
    color: rgb(248, 183, 61);
}

.main__result {
    margin-top: 4vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main__result__image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 18px;
}

.justifyEnd {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.main__result__fullscreenbutton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1vw;
}

.main__result__fullscreenbutton__svg:hover {
    fill: #636363;
    stroke: #636363;
}

p {
    direction: rtl;
}

.main__about {
    background-color: white;
    border-radius: 15px;
    width: 43vw;
    padding: 2vw;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    top: 14vh;
    left: 3.5vw;
}

.main__about__top {
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 14vw;
}

#aboutBoxCancelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main__about__hide {
    display: none;
}

.main__about__show {
    display: block;
}

.aboutButton {
    position: absolute;
    top: 1.5vh;
    left: 0.7vw;
}

#aboutButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.aboutButtonHover {
    fill: #fff6f0;
}

.hidlessRoot {
    opacity: 0.3;
}

.fullscreenNote {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.cancelButton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2vh;
    right: 5vw;
}

#fullscreenNoteCancelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

/*-----------------------------------------------------------------------------------------*/

@media(max-width:400px) {
    .main {
        width: 90vw;
    }

    .main__about {
        font-size: 3vw;
        top: 9.5vh;
        left: 9.5vw;
        width: 70vw;
        align-items: center;
        gap: 10vw;
        direction: rtl;
    }

    .main__about__top {
        gap: 7vw;
    }

    .fullscreenNote img {
        transform: rotate(90deg) scale(1.9);
    }

    .box{
        font-size: 13px;
        width: 25vw;
    }
}

@media(max-width:900px) and (min-width:400px) {
    .main__about {
        font-size: 2vw;
        top: 9.5vh;
        left: 8vw;
        width: 70vw;
        align-items: center;
        gap: 2vw;
        direction: rtl;
    }

    .main__about__top {
        gap: 18vw;
    }
}

@media(max-width:650px) and (min-width:400px) {
    .main__about__top {
        gap: 16vw;
    }
}

@media(max-width:1500px) and (min-width:901px) {
    .main__about {
        font-size: 1.2vw;
        top: 12vh;
        left: 5vw;
        width: 50vw;
        align-items: center;
        gap: 4vw;
        direction: rtl;
    }
}

@media(max-width:600px) {
    .main {
        padding: 0px;
        padding-bottom: 1vh
    }

    .main__select {
        margin-bottom: 2vh;
    }
}

@media(max-width:768px) and (min-width:600px) {
    .fullscreenNote img {
        transform: rotate(90deg) scale(1.05);
    }
}

@media(max-width:600px) and (min-width:480px) {
    .fullscreenNote img {
        transform: rotate(90deg) scale(1.35);
    }
}

@media(max-width:480px) and (min-width:400px) {
    .fullscreenNote img {
        transform: rotate(90deg) scale(1.7);
    }
}