.header {
    display: flex;
    align-items: center;
    height: 8vh;
    direction: ltr;
    border-bottom: 1px solid rgb(156, 152, 152);
    padding-bottom: 1vh;
    padding-right: 0.5vw;
    padding-top: 0.3vh;
}

.header__sections {
    display: flex;
    gap: 3vw;
    align-items: center;
    direction: rtl;
    margin-left: auto;
    margin-right: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}

.header__logo {
    width: 10vw;
    margin-top: 0.7vw;
    margin-right: 0.5vw;
    margin-left: 3vw;
}

.header__logo__image {
    width: 100%;
    cursor: pointer;
}

.section {
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 5px;
}

.header__sections__distances {
    gap: 0px;
    display: flex;
    align-items: center;
}

.section:hover {
    color: orange;
    transform: scale(1.2);
}


.header__menu {
    width: 32px;
    height: 32px;
    border: 2px rgb(165, 163, 163) solid;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.header__menu:hover {
    background-color: rgb(204, 200, 200);
    color: white;
    border: rgb(30, 29, 29);
}

.dropdown {
    width: 100vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
    display: none;
}

.dropdown__menu {
    background-color: rgb(227, 225, 225);
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Msection {
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 5px;
}

.Msection:hover {
    color: orange;
    padding-left: 5vw;
}

/* ------------------------------------------------------------------- */
@media(max-width: 700px) {
    .header__sections {
        font-size: 2.5vw;
    }

    .header__logo {
        padding-right: 1vw;
    }
}

@media(max-width: 1200px) and (min-width:500px) {
    .header__logo__image {
        margin-top: 1vh;
    }
}

@media(max-width: 500px) and (min-width:200px) {
    .header__sections {
        gap: 12%;
    }

    .header__logo {
        width: 23vw;
        margin-right: 4vw;
    }

    .header__logo__image {
        margin-top: 1vh;
    }

    .header__sections {
        font-size: 3.2vw;
    }

    .header {
        height: 6vh;
    }
}

@media(max-width: 900px) and (min-width:500px) {
    .header__logo {
        width: 20vw;
    }
}

@media (max-width:400px) {
    .header {
        height: 8vh;
    }

    .header__menu {
        width: 25px;
        margin-left: 4vw;
        height: 25px;
    }
}

@media (max-width:499px) {
    .header__sections {
        display: none;
    }

    .header {
        justify-content: space-between;
        border-bottom: none;
        padding: 0px;
    }

    .header__logo {
        width: 25vw;
    }

}

@media (min-width:499px) {
    .header__menu {
        display: none;
    }
}

/* ------------------------------------------------------------------- */
.selectedDiv {
    color: rgb(60, 255, 0);
}

.showDropdown {
    display: flex;
}