@font-face {
    font-family: Sahel;
    src: url('/Fonts/Sahel/sahel-font-v3.3.1-Fontjo.com/Sahel.eot');
    src: url('/Fonts/Sahel/sahel-font-v3.3.1-Fontjo.com/Sahel.eot?#iefix') format('embedded-opentype'),
        url('/Fonts/Sahel/sahel-font-v3.3.1-Fontjo.com/Sahel.woff2') format('woff2'),
        url('/Fonts/Sahel/sahel-font-v3.3.1-Fontjo.com/Sahel.woff') format('woff'),
        url('/Fonts/Sahel/sahel-font-v3.3.1-Fontjo.com/Sahel.ttf') format('truetype');
    font-weight: normal;
}


* {
    font-family: Sahel;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    position: relative;
    overflow-y: visible;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    direction: ltr;
    border-bottom: 1px solid rgb(156, 152, 152);
    padding-bottom: 6px;
    padding-right: 1vw;
    padding-top: 2px;
    position: relative;
}

.header__sections {
    display: flex;
    gap: 3vw;
    align-items: center;
    direction: rtl;
    margin-left: auto;
    margin-right: 3%;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}

.header__logo {
    width: 170px;
    margin-top: 17px;
    margin-right: 12px;
    margin-left: 40px;
}

.header__logo__image {
    width: 100%;
    cursor: pointer;
}

.section {
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 5px;
    transition-property: all;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 120ms;
}

.header__sections__distances {
    gap: 0px;
    display: flex;
    align-items: center;
}

.section:hover {
    color: #ffb638;
    transform: scale(1.2);
}


.header__menu {
    width: 32px;
    height: 32px;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown {
    align-items: center;
    justify-content: center;
    opacity: 90%;
    scale: 0%;
    position: absolute;
    top: 50px;
    left: 5px;
    pointer-events: none;
    transition-property: opacity, scale;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 350ms;
    background-color: transparent;
}

.dropdown__menu {
    background-color: white;
    padding-left: 20px;
    display: grid;
    padding: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5vh;
    place-items: center;
    border-radius: 12px;
}

.dropdown__menu__steps {
    padding-top: 4px;
}

.Msection {
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.Msection:hover {
    color: #ffb638;
}

.loading__container {
    position: fixed;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.4);
    height: 100dvh;
    display: none;
    z-index: 99999999999;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
    position: fixed;
    visibility: visible;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Lflex {
    display: flex;
}

.Lhidden {
    display: none;
}

/* ------------------------------------------------------------------- */
@media(max-width: 700px) {
    .header__sections {
        font-size: 2.5vw;
    }
}

@media(max-width: 500px) and (min-width:200px) {
    .header__sections {
        gap: 12%;
    }

    .header__logo {
        width: 80px;
    }

    .header__sections {
        font-size: 3.2vw;
    }

    .header {
        height: 60px;
    }
}

@media(max-width: 900px) and (min-width:500px) {
    .header__logo {
        width: 147px;
        padding-bottom: 4px;
    }
}

@media (max-width:400px) {
    .header {
        height: 65px;
    }

    .header__menu {
        width: 25px;
        margin-left: 4vw;
        height: 25px;
    }
}

@media (min-width:769px) {
    .header__menu {
        display: none;
    }

    .dropdown__menu {
        display: none;
    }
}

@media (max-width:768px) {
    .header__sections {
        display: none;
    }

    .header {
        justify-content: space-between;
        border-bottom: none;
        padding: 0px;
    }

    .header__logo {
        width: 150px;
        margin-right: 24px;
    }
}

/* ------------------------------------------------------------------- */
.selectedDiv {
    color: #ffb638;
}

.showDropdown {
    opacity: 100%;
    scale: 100%;
    pointer-events: all;
    transition-property: opacity, scale;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 350ms;
    z-index: 999999;
}